@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello</h1>
    <p>So you've decided to take planning your projects seriously. Congratulations! Project Managment App is here to help. Simply create a new project and add your team members, soon you'll be on the path to a stress free to-do list.</p>
</div>

<div align ="center">
    <image src="images/hqdefault.jpg" alt ="Stress Free"/>
</div>

